render/render/writable/debugbar/*
render/render/writable/cache/*
render/render/writable/logs/*
render/render/writable/session/*
render/render/writable/uploads/*
vendor/*

# render/render/writable/*
# *.json
# render/writable/cache/*
# !render/writable/cache/index.html

# render/writable/logs/*
# !render/writable/logs/index.html

# render/writable/session/*
# !render/writable/session/index.html

# render/writable/uploads/*
# !render/writable/uploads/index.html

# render/writable/debugbar/*

php_errors.log
