a.addProductBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    text-decoration: none;
}

a.addProductBoton>i {
    font-size: 18px;
    /* color: var(--bs-info) */
}

div#agregarProductoModal,
div#modalActualizarProductos,
div#modalResponderPreguntas {
    z-index: 10001 !important;
}

div.categoriesDetail>.form-group {
    padding: 0;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    cursor: pointer;
}

div.categoriesDetail>.form-group::-webkit-scrollbar,
div.fieldInput::-webkit-scrollbar,
div#productos_wrapper::-webkit-scrollbar {
    -webkit-appearance: none !important;
}

div.categoriesDetail>.form-group::-webkit-scrollbar:vertical,
div.fieldInput::-webkit-scrollbar:vertical,
div#productos_wrapper::-webkit-scrollbar:vertical {
    width: 6px !important;
}

div.categoriesDetail>.form-group::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button,
div.fieldInput::-webkit-scrollbar-button:increment,
div#productos_wrapper::-webkit-scrollbar-button:increment {
    display: none !important;
}

div.categoriesDetail>.form-groupcontenedor::-webkit-scrollbar:horizontal,
div.fieldInput::-webkit-scrollbar:horizontal,
div#productos_wrapper::-webkit-scrollbar:horizontal {
    height: 10px !important;
}

div.categoriesDetail>.form-group::-webkit-scrollbar-thumb,
div.fieldInput::-webkit-scrollbar-thumb,
div#productos_wrapper::-webkit-scrollbar-thumb {
    background-color: #5e72e4 !important;
    border-radius: 20px !important;
    border: 1px solid #5e72e4 !important;
}

div.categoriesDetail>.form-group::-webkit-scrollbar-track,
div.fieldInput::-webkit-scrollbar-track,
div#productos_wrapper::-webkit-scrollbar-track {
    border-radius: 6px !important;
}

div.fieldInput {
    max-height: 100px;
    overflow: auto;
}

#app {
    margin-left: 20rem !important;
}

/* ESTILOS DEL SWEETALERT */

div.swal-overlay {
    z-index: 10002 !important;
}

div#spinnerAgregarProducto {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 10002 !important;
    top: 50%;
    z-index: 10003 !important;
    left: 49%;
}

/* FIN ESTILOS DEL SWEETALERT */


/* ESTILOS DEL CARD PRODUCTOS */
div.productosCargados {
    box-sizing: border-box !important;
    display: grid !important;
    gap: 10px;
}

div.productosCargados>div.shadow-lg>div.btn-group>button {
    color: white !important;
}

div.carousel {
    position: relative !important;
}

div.carousel>div.carousel-inner>div.carousel-item>img {
    height: 300px !important;
    object-fit: cover !important;
    width: 100% !important;
}

div.carousel>div.detallesProductos {
    display: grid !important;
    grid-template: 50px auto / 100% !important;
    place-items: center;
}

div.carousel>div.detallesProductos>div.cantidadProducto {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
}

/* estilos del nav paginacion */
div#botonNavegacion > ul {
    list-style: none !important;
    display: flex !important;
    gap: 10px;
}
div#botonNavegacion > ul > li.active {
    background-color: var(--bs-info) !important;
}

div#botonNavegacion > ul > li.disabled 
{
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
}
div#botonNavegacion > ul > li.disabled > * 
{
    pointer-events:none;
}
div#botonNavegacion > ul > li {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
/* fin estilos paginacion */


@media (max-width: 575px) {
    div.productosCargados {
        grid-template: auto / repeat(1, 1fr) !important;
        gap: 30px;
    }

    #app {
        margin-left: 0rem !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    div.productosCargados {
        grid-template: auto / repeat(2, 1fr) !important;
        gap: 30px;
    }

    #app {
        margin-left: 0rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.productosCargados {
        grid-template: auto / repeat(3, 1fr) !important;
        gap: 30px;
    }

    #app {
        margin-left: 0rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    div.productosCargados {
        grid-template: auto / repeat(3, 1fr) !important;
        gap: 30px;
    }
    #app {
        margin-left: 2rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    div.productosCargados {
        grid-template: auto / repeat(3, 1fr) !important;
        gap: 30px;
    }
}

@media (min-width: 1400px) {
    div.productosCargados {
        grid-template: auto / repeat(4, 1fr) !important;
        gap: 30px;
    }
}

/* FIN ESTILOS DEL CARD PRODUCTOS *


/* ESTILOS MODAL AGREGAR PRODUCTOS FOOTER BOTONES */
div.modal-footer > button {
    color: white !important;
}


/* FIN ESTILOS MODAL */